.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.logo {
    padding-left: 20px;
    width: 110px;
}

.nav-items>ul {
    list-style-type: none;
    display: flex;
}

.nav-items>ul>li {
    padding: 20px;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 10px;
}

.card>img {
    width: 100%;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-cont {
    margin: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-cont>input {
    outline: none;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}


.search-cont>button {
    margin-left: 0.3rem;
    width: 70px;
    height: 20px;
    background-color: rgb(53, 124, 218);
    border: 0px;
    cursor: pointer;
    outline: none;
    font-family: "caveat";
    font-weight: bold;
    font-size: 12px;
    ;
}